/doc/rapport/rapport.aux
/doc/rapport/rapport.log
/doc/rapport/rapport.out
/doc/rapport/rapport.pdf
/doc/rapport/rapport.toc
/o
/doc/report/tex/probleme.log
/doc/report/note.aux
/doc/report/note.bbl
/doc/report/note.blg
/doc/report/note.log
/doc/report/note.out
/doc/report/note.pdf
/doc/report/tex/note.aux
/doc/report/tex/note.log
/doc/report/tex/note.pdf
