/auto
/doc/**/*.aux
/doc/**/*.bbl
/doc/**/*.blg
/doc/**/*.log
/doc/**/*.out
/doc/**/*.pdf
/doc/**/*.toc
/doc/**/*.snm
/doc/**/*.nav
*~
*.DS_Store
\#*\#
.\#*
/doc/report/auto/mystyle.el
/doc/report/auto/note.el
/doc/report/auto/ref.el
/doc/report/auto/report.el
/doc/report/tex/auto/note.el
/doc/report/tex/auto/probleme.el
/src/freefem/Stokes-curlcurl-eigen-nh.edp
/src/freefem/Stokes-curlcurl-eigen.edp
/src/freefem/Stokes-eigen.edp
/o/
/doc/funding/auto/cemosis-po.el
