/auto
/doc/report/*.aux
/doc/report/*.bbl
/doc/report/*.blg
/doc/report/*.log
/doc/report/*.out
/doc/report/*.pdf
/doc/report/*.toc
/doc/report/tex/*.aux
/doc/pres/*.aux
/doc/pres/*.log
/doc/pres/*.out
/doc/pres/*.pdf
/doc/pres/*.toc
/doc/pres/*.snm
/doc/pres/*.nav
/doc/Presentation/*.aux
/doc/Presentation/*.log
/doc/Presentation/*.out
/doc/Presentation/*.pdf
/doc/Presentation/*.toc
/doc/Presentation/*.snm
/doc/Presentation/*.nav
*~
/doc/rapport/rapport.aux
/doc/rapport/rapport.log
/doc/rapport/rapport.out
/doc/rapport/rapport.pdf
/doc/rapport/rapport.toc
/doc/report/auto/mystyle.el
/doc/report/auto/note.el
/doc/report/auto/ref.el
/doc/report/auto/report.el
/doc/report/tex/auto/note.el
/doc/report/tex/auto/probleme.el
/doc/report/tex/note.log
/doc/report/tex/note.pdf
/doc/report/tex/probleme.log
